.science-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
.chrono-wrapper {
  height: 500px;
  margin-top: 1rem;
}
.back-link {
  display: inline-block;
  margin-bottom: 1rem;
  color: #f5f1f1;
  text-decoration: none;
  font-weight: bold;
}
.back-link:hover {
  text-decoration: underline;
}