
.main-container {
  overflow-x: hidden;
}

.comm-table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

table,
.comm-table {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  display: block;
}
.comm-table th,
.comm-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.comm-table th {
  background: rgba(0, 0, 0, 0.1);
}

.comm-table a {
  color: var(--link-color, #0077cc);
  text-decoration: none;
}

.comm-table a:hover {
  text-decoration: underline;
}